body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #440468;
    background: -webkit-radial-gradient(bottom left, #440468, #39021B);
    background: -moz-radial-gradient(bottom left, #440468, #39021B);
    background: radial-gradient(bottom left, #440468, #39021B);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: sans-serif;
}